body{
    background-color: rgb(83, 153, 214);
}
.letras1{
 color: black;
 font-size: 40px;
 font-family: 'Courier New', Courier, monospace;
 font-weight: 1000;
}
.formulario{
    width: 400;
    height: 400
;
    background-color: blue;
}

form{
    text-align: center;
    padding: 30px;}